---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from 'astro:assets';
import farver from "../assets/images/01-farver.png";
import motiver from "../assets/images/02-motiver.png";
import strl from "../assets/images/03-strl.png";
import photo1 from "../assets/images/photo1.jpg";
import photo2 from "../assets/images/photo2.jpg";
import photo3 from "../assets/images/photo3.jpg";
import photo4 from "../assets/images/photo4.jpg";
import photo5 from "../assets/images/photo5.jpg";
import photo6 from "../assets/images/photo6.jpg";
import photo7 from "../assets/images/photo7.jpg";
import blues_6 from "../assets/images/blues_6.png";

const {titel, description, ogtitel, ogdescription, schemamarkup} = Astro.props
---

<MainLayout 
title=""
description="Læs historien om blues, igennem tiden -og få et indblik i dens indflydelsesrige melodi"
ogtitel=" Historien om Blues "
ogdescription="Læs historien om blues, igennem tiden -og få et indblik i dens indflydelsesrige melodi." 
>



	<article class="grid mx-auto container gap-8 pt-8 prose">
        
        <h1>Historien om Blues</h1>
         <Image class="" src={blues_6} alt="mand spiller trompet i solnedgang"></Image>


        <h2>1.	Blues’ Oprindelse <br> (Sene 1800-tallet – Starten af 1900-tallet)</h2>

        <p>Blues har rødder i afrikansk folkemusik, spirituals, work songs og field hollers, som stammer fra den tidlige slavetiden i USA. </p>
        <p>Den tidligste form for blues kom til, tilbage i 1800 tallets og udsprang fra primært i det sydlige USA, især i Mississippi-deltaet, blandt afroamerikanske samfund. Tidlige bluesmusikere var ofte arbejdere, der udtrykte deres oplevelser af fattigdom, uretfærdighed og kærlighed, med enkel instrumentering som banjo eller guitar. </p>
        <p>Helt tidlige bluesmusik blev kendetegnet ved en simpel 12-takters struktur og brugen af blue notes (toner, der er lidt lavere end de standardtoner, vi kender i vestlig musik). </p>


          <Image class="" src={photo1} alt="mand spiller trompet i solnedgang"></Image>

        <hr>

        <h2> 2.	De første udgivelser og udbredelsens <br> (1910'erne - 1920'erne)</h2>

        <p>
           I 1912 udgav W.C. Handy ”Memphis Blues”, og blev her den allerførste blueskomposition udgivet. Dette betød startskuddet på den moderne form for blues. Den første udgivelse, markerede således også starten, på den første rigtige udbredelsen af bluesmusikken, og hjalp til at genre blev kendt udover lokalområderne og starten på kommercialiseret
        </p>

        <ul>
            <li>Handy blev kendt som ”Father of the Blues”</li>
            <li>Ma Rainey, den første professionelle bluesperformere, og blev herefter kendt som ”Mother og the Blues”</li>
        </ul>

    
       <Image class="" src={photo2} alt="spilleplader til salg"></Image>

        <hr>

        <h2>3.	Blues udvikling og forgrening <br> (1920'erne - 1930'erne) </h2>

        <p>
             I løbet af 1920’erne til 30’erne, gennemgik blues en ny udvikling. 
             For i Mississippi-deltaet udviklede en særlig stil sig. Dette var Delta Blues, 
             denne stil var mere rå, følelsesmæssig og ofte præget af akustisk guitar. 
        </p>

        <ul>
            <li> Delta blusen, opstod som en helt unik stil, og var i langt højere grad præget af slidte stemmer fingerpicking guitarstil. </li>
            <li>   Denne stil af blusen blev senere basis for mange andre former for blues og rockmusik. </li>
        </ul>
      

    
               <Image class="" src={photo2} alt="mand spiller gitar"></Image>

        <hr>
        <h2>4.	Bluesens Popularisering <br>
            (1930'erne – 1940'erne)</h2>

        <p>
          I denne periode begyndte, og især under krigstiden, flyttede mange afroamerikanere fra sydstaten til 
          de mere nordlige industribyer, her af især Chicago og Detroit, som betød at blues fandt sin vej til 
          flere og flere storbyer i Nordamerika.
        </p>

        <p>
            Således førte det også til at blues fik en elektrificering og urbanisering af bluesmusik.
            Dette førte til at blues at blive mere og mere udviklet, i form af tilføjelse af bas, trommer og 
            elektrisk guitar. og fandt vej til flere storbyerne i Nordamerika. Dette banede vejen for urban blues og rhythm and blues (R&B).
        </p>


        <div class="grid grid-cols-2 gap-4">

		       <Image class="" src={photo4} alt="stars and stripes"></Image>
		       <Image class="" src={photo4} alt="stars and stripes"></Image>
		       <Image class="" src={photo4} alt="stars and stripes"></Image>
		       <Image class="" src={photo4} alt="stars and stripes"></Image>
        

        </div>
        <hr>

        <h2>5.	Efterkrigstidens & Indflydelse på Rock 'n' Rol <br> (1950'erne – 1960'erne)</h2>

        <p>
            I 1950'erne begyndte blues at fusionere med andre genrer og påvirke 
            rock 'n' roll, hvilket gjorde den til en afgørende del af populærkulturen. 
            Samtidig opstod Rhythm and Blues (R&B) som en moderne og dansbar version af blues. 
            Her spillede bl.a. musikeren Elvis Presley en rolle, selvom han ikke var bluesmusiker, 
            integrerede han en hel del blues i sin musik og hjalp med at popularisere genren globalt.
        </p>

        <p>
           Hertil var der også andre vigtige frontfigur som spille ind i udviklingen og udbredelsen af 
           genren og dens påvirkning af Rock ’n’ Rol
        </p>
        <ul>
            <li>Chuck Berry: Bluesens indflydelse på rock 'n' roll er tydelig hos musikere som Chuck Berry, 
                der tog bluesens struktur og kombinerede den med energien fra tidlig rockmusik.</li>
            <li>B.B. King: En af de mest kendte og indflydelsesrige bluesmusikere, kendt for sin unikke guitarstil 
                og sange som "The Thrill is Gone". Han spillede en stor rolle i at bringe bluesen til et bredere publikum i denne periode.
            </li>
        </ul>
       
               <Image class="" src={photo2} alt="mand sidder på stol, med en læderjakke på"></Image>

        <hr>

        <h2>6.	Bluesens Genopblussen og Global Indflydelse <br> (1960'erne – 1970'erne)</h2>

        <p>
         Blues blev i 60’erne og 70’erne genopdaget og adopteret af britiske rockbands, som derefter 
         introducerede den til et nyt globalt publikum. Det var især i England, at bluesen fik et massivt 
         comeback, og mange store rockbands blev inspireret af den klassiske blues.
        </p>

           <ul>
            <p> De største frontfigurer i udbredelsen var her især at finde hos </p>
            <li>The Rolling Stones – inspirerede af bluesmusikere som Muddy Waters og Howlin' Wolf.</li>
            <li>Eric Clapton – berømt for sin guitarstil og store bluesindflydelse </li>
        </ul>

        <p>
        Blues genopblussen, fik især også stor påvirkning fra kendte begivenheder som Newport Folk Festival, der 
        hjalp med at genoplive interessen for traditionelle bluesmusikere som Muddy Waters og Son House.
        Jimi Hendrix: Som en innovator, der kombinerede blues med rock,
        psykedelisk musik og soul, fortsatte Hendrix med at udvide bluesens grænser.
        </p>

             <Image class="" src={photo2} alt="mand spiller gitar"></Image>

        <hr>

        <h2>7.	Bluesens Rolle i Moderne Musik (1970'erne – nu)</h2>

        <p>
           Blues fortsatte stadig med at udvikle sig og inspirere musikere rundt omkring i verden. 
           Dens påvirke er stadig fremtræden og smelter sammen med andre genrer som rock, funk og soul. 
           Den er forblevet en grundsten i mange musikeres stil og inspiration til nye generationer nu og i fremtiden.
        </p>


       <Image class="" src={photo2} alt="mand spiller trommer med hørertelefoner"></Image>

        <hr>

    </article>
</MainLayout>